/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.content {
    padding: 15px;
    max-width: 55em;
    margin: auto;
}

.tilesizer {
    padding: 0;
    max-width: 50em;
    margin: auto;
}

body {
    font-family: "sofia-pro", sans-serif;
}

h1,
h2,
h3 {
    font-weight: bold;
}

body {
    margin: 0;
}

.full {
    display: block;
}

.xs {
    margin-right: 15px;
    width: 10em;
}

.xss {
    margin-right: 15px;
    width: 6em;
}

.sm {
    width: 10em;
}

.dp {
    margin-right: 15px;
}

body { margin: 10; }