.mat-grid-tile .mat-grid-tile-footer {
  background-color: #ffffff00;
  color: #000000;
}

.lp {
    margin-left: 15pt;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}